.allergies {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.allergy:nth-child(0) {
  margin-right: 0;
}

.allergy {
  text-align: center;
  display: inline-block;
  min-height: 130px;
  outline: 1px solid #efefef;
  box-sizing: border-box;
  margin: 10px 5px;
  padding: 5px 5px;
  width: calc(50% - 30px);
  box-shadow: #bbb 0px 4px 3px;
}

.allergyIcon {
  margin: 0 auto;
  height: 50px;
}

.allergyIconCredit {
  color: #888;
  font-size: 0.2em;
  font-weight: lighter;
}

.allergyIconCredit a,
.allergyIconCredit a:visited,
.allergyIconCredit a:active,
.allergyIconCredit a:hover {
  color: #888;
}

.translations {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.translations .primaryLanguage {
  font-weight: bold;
  font-size: 1.1em;
}

.translations .otherLanguage {
  font-size: 0.85em;
}

.translations .language-code {
  color: #aaa;
  font-weight: lighter;
  font-size: 0.8em;
}
