.App {
  text-align: center;
  width: 100vw;
  max-width: 100vw;
}

.TopBar {
  height: 42px;
  box-shadow: #aaa 0px 3px 10px;
  margin-bottom: 20px;
}

.box {
  text-align: left;
  margin: 0 25px;
}

.landing {
  font-family: serif;
  font-size: 1.3em;
}

.TopBar h1 {
  position: relative;
  color: #555;
  font-family: "Tangerine", serif;
  font-weight: 700;
  margin: 8px 0;
  padding: 0;
  font-size: 30px;
  display: inline-block;
}

.TopBar #logo {
  height: 60%;
  vertical-align: text-bottom;
  padding: 0 5px;
}

.introText {
  font-family: serif;
  margin: 0 25px;
  text-align: left;
}

button {
  border: 1px solid #eee;
  box-shadow: #ccc 0px 3px 3px;
  border-radius: 3px;
  background: white;
  color: #555;
  padding: 10px;
  margin: 10px 5px;
  font-size: 1.2em;
}

.btn-primary {
  font-weight: bold;
}

#settings-button {
  right: 10px;
}

#share-button {
  left: 10px;
}

.content {
  word-wrap: break-word;
}

.TopBar button {
  margin: 0;
  padding: 3px;
  box-shadow: none;
  height: 29px;
  max-width: 100%;
  position: absolute;
  top: 8px;
}

.TopBar button img {
  height: 100%;
  padding: 0;
  margin: 0;
}

.introText .primaryLanguage {
  font-size: 1.1em;
}

.introText .otherLanguage {
  font-size: 0.9em;
  color: #444;
}

.introText .language-code {
  color: #aaa;
  font-weight: lighter;
  font-size: 0.7em;
}

.footer {
  margin: 30px 25px 0 25px;
  font-size: 0.5em;
  color: #888;
}

@media (min-width: 600px) {
  .content {
    width: 600px;
    margin: 0 auto;
    font-size: 1.3em;
  }

  .TopBar button {
    position: absolute;
    height: 48px;
  }

  .settings-button {
    right: calc(50% - 280px);
  }

  .share-button {
    right: calc(50% - 280px);
  }

  .TopBar {
    height: 64px;
  }

  .TopBar h1 {
    font-size: 48px;
  }
}
